name: ECS CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag and push Docker image
      run: |
        docker build -t aws-devops-ecs-app ./app
        docker tag aws-devops-ecs-app:latest ${{ secrets.ECR_REPO_URL }}:latest
        docker push ${{ secrets.ECR_REPO_URL }}:latest

    - name: Deploy to ECS
      uses: aws-actions/amazon-ecs-deploy@v1
      with:
        cluster: aws-devops-ecs-cluster
        service: aws-devops-ecs-service
        image: ${{ secrets.ECR_REPO_URL }}:latest
        force-new-deployment: true
